# Firebase Client (público, safe para exponer)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=app-de-finanzas-fda59.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=app-de-finanzas-fda59

# Firebase Admin (privado, solo servidor)
FIREBASE_SERVICE_ACCOUNT=
